<div class="main-app">
  <div class="main-header">
    <header class="eds-primary-header" style="display: flex;">
      <a id="main-logo" href="javascript:void(0)" class="eds-primary-header_#logo">
        <img alt="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Experian_logo.svg/1200px-Experian_logo.svg.png" />
      </a>

      <h1 class="eds-primary-header_#title">CrossCore</h1>

      <nav class="eds-primary-header_.section" role="navigation" aria-label="Control Center">
        <a href="javascript:void(0)"
          class="eds-primary-header_.eds-primary-nav-item eds-primary-nav-item eds-primary-nav-item.eds-link eds-link"
          aria-haspopup="true">
          <i class="eds-primary-nav-item_#icon material-icons" aria-hidden="true">apps</i>
        </a>
        <a href="javascript:void(0)"
          class="eds-primary-header_.eds-primary-nav-item eds-primary-nav-item eds-primary-nav-item.eds-link eds-link"
          aria-haspopup="true">
          <div class="eds-primary-nav-item_.eds-avatar eds-avatar eds-avatar.sm eds-avatar.blue" aria-hidden="true"
            data-initials="BL"></div>
        </a>
      </nav>
    </header>
  </div>
  <div class="main-body">
    <div id="main-sidebar" class="main-sidebar">
      <ui-sidebar [menus]="menus"></ui-sidebar>
    </div>
    <div id="main-content">
      <div id="mico-app-mount-area"></div>
    </div>
  </div>
  <div class="main-footer"></div>
</div>