<section class="section">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a routerLink="profile" class="button is-primary">
              <strong>Profile</strong>
            </a>
            <a routerLink="billing" class="button is-light">
              Billing
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>